@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --primary-color:#40916C;
    --secondary-color: #181818;
    --off-white: #F3F4F6;
}

*{
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}


.container {
    padding: 10rem 1rem 2rem 1rem;
}

.centered-container {
    max-width: 600px;
    margin: auto;

}

.hero-image {
    width: 40%;
    position: relative;
}

.hero-image img{
    position: absolute;
    top: 4rem;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
   
}


.primary-link {
    background-color:
        var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 100px;
    margin: auto;
    text-align: center;
    font-weight: bold;   
    padding: 0.5rem;
    margin-top: 2rem;
    
    
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 1.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    background-color: white;
    margin: 1rem 1rem 1rem 0rem;
    text-align: center;
    font-weight: bold;
}

input{
        font-weight: bold;
        width: 55%;
        padding: 0.8rem;
        color: var(--primary-color);
        border-radius: 1.5rem;
        border: 1px solid var(--primary-color);
        display: block;
        max-width: 140px;
        margin: auto;
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    margin: 1rem;   
    border-bottom-left-radius: 3rem;
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
}

.navigation .nav-pills {
    text-align: right;
}

.nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
    width: 60%;
    padding: 3rem 1rem 6rem 1.5rem;
}


.hero-heading .heading-inverted {
    color: var(--secondary-color);
}

#section{
    padding: 2rem;
}

#section h1{
     text-align: center;
     }

.button{
     max-width: 90%;
     border-radius: 0.5rem;
     background-color: var(--primary-color);
     border: 1px solid var(--primary-color);
     color: white;
     padding: 0.5rem;
     margin: auto;
     margin-top: 1rem;
     cursor: pointer;
     display: block;
}

#loading-img{
    display: none;
    margin: auto;
}

#output{
    margin-top: 2rem;
    font-weight: bold;
}

.footer{
    background-color: 
    var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    margin: 1rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    
}



.list-link{
    text-decoration: none;
    color: white;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
    padding-bottom: 1rem;
}

.footer .list-item-inline{
    margin: 0.5rem;
    
    padding: 0 2rem;
}

.footer ul{
    padding-inline-start: 0px;
   
}

.fa{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px){
    .hero{
        display: block;
        min-height: 100px;
    }
    
    .nav-brand{
        width: 100%;
        padding: 2rem;
    }
    .nav-brand h1{
        line-height: 2rem;
        margin-bottom: 0rem;
        font-size: 2rem;
        word-wrap: break-word;
    }
    
    .hero-image{
        position: static;
        width: 100%;
    }

    .hero-image img{
        position: static;
        height: 300px; 
    }

    
input{
    font-weight: bold;
    width: 55%;
    padding: 0.8rem;
    color: var(--primary-color);
    border-radius: 1.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: auto;
}

}

